/__pycache__
/preset
/.env
.env*

/venv

/cv_model/yolo11n.pt
/cv_model/temp
/cv_model/runs
/cv_model/cv_pipeline.py
/cv_model/test

/rtsp-stream-worker/temp
/rtsp-stream-worker/mediamtx
/rtsp-stream-worker/preset

__pycache__*

/media-autobuild_suite

# Large files - videos and model weights
*.mp4
*.pt
/runs/
/cv_model/training_scripts/surgical_tool_training_runs/
/cv_model/training_scripts/*.pt